<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjh.dao.UserDao">
    <select id="getuser" resultType="com.pjh.entity.Emp">
        select * from emp_info
    </select>
</mapper>